/* font style from google */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-family: "Inter", sans-serif;
}
/* header related styles */
/* banner section styles */
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  width: 1170px;
  height: 500px;
  margin: 50px;
  margin-left: 200px;
  margin-right: 135px;
  border-radius: 16px;
  background-repeat: no-repeat;
}
.banner-content {
  padding-top: 107px;
  padding-left: 247px;
  padding-right: 247px;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}
.banner-description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 24px;
}
.banner-option {
  display: inline-flex;
  padding: 16px;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 50px;
  margin-left: 240px;
  margin-right: 300px;
  width: 700px;
  height: 40px;
}
.banner-option .box {
  width: 120px;
  height: 30px;
  border-radius: 8px;
  background: #fff;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 8px;
}
.banner-option .select {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.banner-option .space {
  padding-left: 0px;
}
.banner-option .space1 {
  gap: 16px;
}
.banner-option .select img {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
  border-radius: none;
  padding-top: 5px;
}
.banner-option .find {
  background: #ff5400;
  display: flex;
  gap: 2px;
}
.banner-option .find img {
  width: 15px;
  height: 15px;
}
/* main section related styles */
/* our popular tour section related styles */
.tour-content {
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.tour-description {
  margin-left: 100px;
}
.tour-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 15px;
}
.tour-description p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}
.tour-description ul {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 50px;
}
.tour-description ul li {
  list-style: disc;
}
.tour-description .btn {
  width: 165px;
  height: 40px;
  margin: 10px;
  padding-top: 14px;
  padding-bottom: 20px;
}
.tour-description .btn button {
  text-align: center;
  background: #ff5400;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 800;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 34px;
  padding-bottom: 15px;
}
.tour-content .tour-img {
  border-radius: 16px;
  background: lightgray 50%;
  width: 540px;
  height: 550px;
}
/* footer related styles */
.footer {
  background: rgba(19, 19, 24, 0.05);
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
}
.footer-title {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding-left: 500px;
  padding-right: 400px;
}
.footer-title h3 {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
}
.footer-title h3 span {
  color: #ff5400;
  font-size: 2rem;
  font-weight: 800;
}
.footer-description {
  width: 769px;
  text-align: center;
  margin-left: 385px;
  margin-right: 50px;
  padding-top: 15px;
}
.footer-description p {
  color: #5a5a5d;
  font-size: 1rem;
  font-weight: 400;
}
.icon {
  margin-top: 20px;
  margin-left: 695px;
  margin-right: 400px;
  margin-bottom: 20px;
}
.icon img {
  width: 172px;
  height: 24px;
}
.footer hr {
  background: rgba(19, 19, 24, 0.1);
  width: 872px;
  height: 1px;
  margin-left: 284px;
  margin-right: 284px;
}
.footer .copy-right {
  color: #131318;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding-top: 50px;
  padding-left: 624px;
  padding-right: 625px;
  padding-bottom: 110px;
  width: 191px;
  height: 19px;
}

/* responsive */
/* mobile device */
@media screen and (max-width: 600px) {
  .banner {
    width: 100%;
    height: 500px;
  }
  .banner-content {
    padding: 20px;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 0.8rem;
  }
  .banner-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 12px;
    margin-top: 12px;
    margin-left: 55px;
    margin-right: 24px;
    margin-bottom: 32px;
    width: 300px;
    height: 270px;
  }
  .banner-option .box {
    width: 266px;
    height: 52px;
  }
  .banner-option .select {
    display: flex;
    flex-direction: row;
    gap: 175px;
  }
  .banner-option .type {
    gap: 140px;
  }
  .banner-option .ms {
    width: 260px;
  }
  .banner-option .space {
    padding-left: 8px;
  }
  .banner-option .select img {
    width: 15px;
    height: 15px;
  }
  .banner-option .find {
    display: flex;
    gap: 2px;
  }
  .banner-option .find img {
    width: 15px;
    height: 15px;
  }
  /* footer */
  .footer {
    width: 100%;
    height: 500px;
    padding: 20px;
  }
  .footer-title {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }
  .footer-description {
    margin: 0;
    padding: 15px;
  }
  .icon img {
    width: 100%;
    height: auto;
  }
  .footer hr {
    width: 100%;
    margin: 15px 0;
  }
  .footer .copy-right {
    padding: 20px;
  }
  /* main section related styles */
  /* our popular tour section related styles */
  .tour-content {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 100px;
  }
  .tour-description{
    margin-left: 150px;
  }
  .tour-title {
    font-size: 1.25rem;
  }
  .tour-description p {
    font-size: 0.874rem;
  }
  .tour-content .tour-img {
    width: 335px;
    height: 335px;
    margin-bottom: 50px;
  }
}
